@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* Shared Styles */
  .dark01{
    color:#131313;
  }
  .dark02{
    color:#424242;
  }
  .dark03{
    color: #727272;
  }
  .bg-primary{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .display-flex{
    display: flex;
  }
  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 24px;
    border-radius: .5rem;
    border: none;
    margin-top: 30px;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main>section{
    margin-top: 130px;
  }
  .margin-left-equal{
    margin-left: 5.8rem;
  }

  /* header styles */

  /* navbar related styles */


  .navbar{
    justify-content: space-between;
    align-items: center;
    
  }
  .brand{
    font-weight: 700;
    font-size: 3rem;
  }
  .nav-item{
    list-style: none;
    margin-right: 20px;
  }
  .nav-links{
    text-decoration: none;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  /* banner relate styles */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-description{
    font-weight: 400;
    font-size: 1rem;
  }
  /* img {
    display: block;
    margin: 0 auto;
} */
.banner-img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
/* teams and features related styles */
.teams{
    align-items: center;
    margin-left: 5.8rem;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.our-features{
    margin-left: 73px;
    width: 540px;
}
/* features-title related styles */
.quick-list{
        font-weight: 500;
        font-size:2.8rem;
}
.of-our{
    font-weight: 700;
    font-size: 2.8rem;
}
.Features{
    font-weight: 700;
    font-size: 2.8rem;
    color: rgba(255, 144, 14, 1);
}
/* Feature you will love and enjou realated styles */
.feature-enjoy{
    width: 1440px;
    margin: 0 auto;

    /* border: 2px solid rebeccapurple; */
}
.some-facts-title{
    font-weight: 700;
    font-size: 2.8rem;
}
/* Some Facts related styles */
.some-facts-description{
    font-weight: 400;
    font-size: 1rem;
  }
  .facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  .fact-card{
    width: 240px;
    height: 240px;
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: .5rem;
    gap: 124px;
    align-items: center;
    justify-content: center;
    text-align: center;

  }
  .fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
  }
  .some-facts-description{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
  }
  /* Our Sponsar related styles */
  .our-sponspors-content{
    text-align: center;
    /* border: 2px solid tan; */
    max-width: 540px;
    height: 130px;
    margin: 24px auto;
  }
  .our-sponsar-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  .our-sponspors-description{
    font-size: 1rem;
    font-weight: 400;
  }
  /* Sponspors company related styles */
  .sponspors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-between;
    margin-top: 50px;

  }
  /* footer related styles */
  .footer-content{
    max-width: 1440px;
    height: 100px;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 130px auto;
  }
  .footer-description{
    text-align: center;
  }
/* Responsive Medai Query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links , .teams{
        flex-direction: column;
    }
    .teams-image, .facts-container, .sponspors-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container{
      align-items: center;
      gap: 24px;
    }
    .features-description{
        text-align: center;
    }
    .sponspors-companies{
      align-items: center;
      gap: 50px;
      margin-top: 120px;
    }
    .footer-content{
      text-align: center;
    }
    
    
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 20px auto;
    }
    .sponspors-companies{
      grid-template-columns: repeat(3,2fr);
  }
   .sponspors-companies{
    gap: 50px;
    align-items: center;
    text-align: center;
  }
  .facts-container{
    grid-template-columns: repeat(2,2fr);
    gap: 24px;
    align-items: center;
  }
    
}
